.w100 {
    width: 100%;
}

.white {
    color: white;
}

.bg-primary a {
    color: white;
}

.bg-primary ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly
}

.main-art {
    background-image: url(http://unsplash.it/400/200);

    height: 40vh;
}

.media-nerd {
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secondary-art {
    background-image: url(http://unsplash.it/400/200);
    height: 20vh;
}

.g-underline {
    border-bottom: 2px solid blue;
    width: fit-content;
}